{% load static %}
<section class="home-section align-items-center" id="home">
    <div class="container">
      <div class="row align-items-center">
        <div class="home-text">
          <p>Hello, I'm</p>
          <h1>Aaditya Sharma</h1>
          <h2>Full Stack Developer, Data Scientist & AI Engineer</h2>
          <a href="#about" class="btn link-item">More about me</a>
          <a href="#portfolio" class="btn link-item">Portfolio</a>
          <a href="#contact" class="btn link-item">Hire Me</a>
        </div>
        <div class="home-img">
          <div class="img-box">
            <img src="{% static 'images/profile-img.png' %}" alt="profile-img">
          </div>
        </div>
      </div>
    </div>
  </section>