{% load static %}
<section class="portfolio-section sec-padding" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>recent work</h2>
        </div>
      </div>
      <div class="row">
        <!-- Portfolio Item Start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{% static 'images/portfolio/1.jpg' %}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Website 1</h3>
          <button type="button" class="btn view-project-btn">view project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p class="para">The ProEcart-an Indian E-shop is a E-Commerce marketplce, brings to you about more than 36000 categories of products, at great deal and prices you can buy any product which is available in India, while they are focusing customers to purchase products only made in India.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>4 June 2020</span></li>
                <li>Technologies used - <span>HTML, CSS, JavaScript, Bootstrap 5, Python, Django, MYSQL</span></li>
                <li>Role - <span>Frontend and Backend</span></li>
                <li>View Online - <span><a href="https://www.proecart.com" target="_blank">www.proecart.com</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{% static 'images/portfolio/2.jpg' %}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Website 2</h3>
          <button type="button" class="btn view-project-btn">view project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>This Website is a personal portfolio website for a Full Stack Developer.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>24 June 2021</span></li>
                <li>Technologies used - <span>HTML, CSS, JavaScript, Bootstrap 5, PHP</span></li>
                <li>Role - <span>Frontend and Backend</span></li>
                <li>View Online - <span><a href="https://www.dharmendrajangid.in" target="_blank">www.DharmendraJangid.in</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{% static 'images/portfolio/3.jpg' %}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Data Science project with R</h3>
          <button type="button" class="btn view-project-btn">view project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Healthcare cost analysis Data Science Project with R Programming</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>4 Sep 2018</span></li>
                <li>Technologies used - <span>R Programming</span></li>
                <li>Role - <span>Data Scientist</span></li>
                <li>View Online - <span><a href="#" target="_blank">NA</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{% static 'images/portfolio/4.jpg' %}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Data Science with Python</h3>
          <button type="button" class="btn view-project-btn">view project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p>Retail Analysis with Walmart Data by using Python in Data Science</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>12 Oct 2018</span></li>
                <li>Technologies used - <span>Python</span></li>
                <li>Role - <span>Data Scientist</span></li>
                <li>View Online - <span><a href="#" target="_blank">NA</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{% static 'images/portfolio/5.jpg' %}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Machine Learning Project</h3>
          <button type="button" class="btn view-project-btn">view project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p class="para">Project Nme:- Income Qualification. The aim of this project is to Identify the level of income qualification needed for the families in Latin America.</p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>28 Oct 2018</span></li>
                <li>Technologies used - <span>Python</span></li>
                <li>Role - <span>AI Engineer and Data Scientist</span></li>
                <li>View Online - <span><a href="#" target="_blank">NA</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End -->
        <!-- Portfolio Item Start -->
        <div class="portfolio-item">
          <div class="portfolio-item-thumbnail">
            <img src="{% static 'images/portfolio/6.jpg' %}" alt="portfolio item thumb">
          </div>
          <h3 class="portfolio-item-title">Tableau and Power BI Project</h3>
          <button type="button" class="btn view-project-btn">view project</button>
          <div class="portfolio-item-details">
            <div class="description">
              <p class="para">The aim of this project is To build a dashboard that will present monthly sales performance by product segment and product category to help client identifying the segments and categories that have met or exceeded their sales targets, as well as those that have not met their sales targets. </p>
            </div>
            <div class="general-info">
              <ul>
                <li>Created - <span>22 Nov 2019</span></li>
                <li>Technologies used - <span>Python</span></li>
                <li>Role - <span>AI Engineer and Data Scientist</span></li>
                <li>View Online - <span><a href="#" target="_blank">NA</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Portfolio Item End -->
      </div>
    </div>
  </section>